<!DOCTYPE html>
<html>
<head>
    <h1>SERVICONFI S.R.L</h1>
    <h2>Lista de Solicitudes</h2>
    <h3>Cantidad de Solicitudes : {{ cant }}</h3>
</head>
<body>
    <table border="0.5">
        <thead>
            <th scope="col">Id solicitud</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Monto</th>
            <th scope="col">Estado</th>
        </thead>
        <tbody>
            {% for obj in solicitudes %}
              <tr>
                <td>{{ obj.id_solicitud }}</td>
                <td>{{ obj.cedula.nombres }}</td>
                <td>{{ obj.cedula.apellidos }}</td>
                <td>{{ obj.monto }}</td>
                <td>{{ obj.estado }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
