<!DOCTYPE html>
<html>
<head>
    <h1>SERVICONFI S.R.L</h1>
    <h2>Lista de Garantia Vehiculos</h2>
    <h3>Cantidad de Garantia Vehiculos : {{ cant }}</h3>
</head>
<body>
    <table border="0.5">
        <thead>
            <th scope="col">Valor</th>
            <th scope="col">Dueño</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Modelo</th>
            <th scope="col">Año</th>
            <th scope="col">Placa</th>
            <th scope="col">Color</th>
        </thead>
        <tbody>
            {% for obj in garantias %}
              <tr>
                  <td>{{ obj.id_garantia.nombre_propetario }}</td>
                  <td>{{ obj.id_garantia.valor_tasacion }}</td>
                  <td>{{ obj.fabricante }}</td>
                  <td>{{ obj.modelo }}</td>
                  <td>{{ obj.anio }}</td>
                  <td>{{ obj.placa }}</td>
                  <td>{{ obj.color }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
