{% extends 'paginas/base.html' %}

{% block title %} Prestamo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
        <link href="/static/assets/fontawesome/css/all.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <div class="header pb-4" style="background-color: #009ACD">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-3">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Edicion de Garantia</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 ">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">ID Garantia</h5>
                        <h1 class="card-title text-uppercase text-muted mb-0" >{{ garantia.id_garantia }}</h1>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-gray-dark text-white rounded-circle shadow">
                        <i class="ni  ni-badge"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <!-- Body -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
            <div class="card">
                <div class="card-body" div.row="" style="background-color: #e9ecef">
                    <h3>Informacion Base</h3>
                    <form action="/garantia/edicion/{{ salida }}/{{ garantia.id_garantia }}" method="POST"> {% csrf_token %}
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_valor_tasacion" class="col-form-label col-sm-0" >Valor Tasado:</label>
                            </div>
                            <div class="col-ms-auto col-md-4">
                              <div class="form-group">
                                <input type="number" class="form-control" id="txt_valor_tasacion" value="{{ garantia.valor_tasacion }}" name="txt_valor_tasacion"  class="form-control"  required>
                              </div>
                            </div>
                             <div class="col-ms-auto col-md-2">
                                <label for="h_garantia" class="col-form-label col-sm-0" >Tipo:</label>
                            </div>
                            <div class="col-ms-auto col-md-4">
                              <div class="form-group">
                                  <input type="text" class="form-control" id="txt_tipo" name="txt_tipo" value="{{ garantia.tipo }}" disabled="disabled">
                              </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_nombre" class="col-form-label col-sm-0">Nombre Propetario:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_nombre" name="txt_nombre"   value="{{ garantia.nombre_propetario }}" class="form-control" placeholder="Nombres" required>
                            </div>

                            <div class="col-ms-auto col-md-2">
                                <label for="txt_nombre" class="col-form-label col-sm-0">Fecha Expedicion:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <div class="input-group date" id="fecha_expedicion">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                        <input class="form-control" id="datepicker-month" name="datepicker-month" value="{{ garantia.fecha_expedicion }}" placeholder="Selecciona Fecha" type="text" value="">
                                    </div>
                            </div>
                        </div>
                        <div id="Inmobiliario" class="hidden"  style="display: none">
                            <hr class="my-3">
                            <h3>Inmobiliario</h3>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_direccion" class="col-form-label col-sm-0">Direccion:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-10">
                                        <input type="text" class="form-control" id="txt_direccion" name="txt_direccion" value="{{ Inmobi.direccion }}" class="form-control" placeholder="Direccion">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_metraje" class="col-form-label col-sm-0">Metraje:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="number" class="form-control" id="txt_metraje" name="txt_metraje" value="{{ Inmobi.metraje }}" class="form-control" placeholder="Metraje">
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_certificado" class="col-form-label col-sm-0">Certificado del Titulo:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_certificado" name="txt_certificado" value="{{ Inmobi.certificado_titulo }}"class="form-control" placeholder="Certificado">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_parcela" class="col-form-label col-sm-0">Numero de Parcela:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_parcela" name="txt_parcela" value="{{ Inmobi.numero_parcela }}" class="form-control" placeholder="Parcela">
                                </div>
                            </div>
                        </div>
                        <div id="Vehiculo" class="hidden" style="display: none">
                            <hr class="my-3">
                            <h3>Vehiculo</h3>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_fabricante" class="col-form-label col-sm-0">Fabricante:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_fabricante" name="txt_fabricante" value="{{ auto.fabricante }}"  class="form-control" placeholder="Modelo">
                                </div>
                                 <div class="col-ms-auto col-md-2">
                                    <label for="txt_modelo" class="col-form-label col-sm-0">Modelo:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_modelo" name="txt_modelo" value="{{ auto.modelo }}" class="form-control" placeholder="Modelo">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_anio" class="col-form-label col-sm-0">Año:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="number" class="form-control" id="txt_anio" name="txt_anio" value="{{ auto.anio }}" class="form-control" placeholder="Año">
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_color" class="col-form-label col-sm-0">Color:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_color" name="txt_color" value="{{ auto.color }}" class="form-control" placeholder="Color">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_chasis" class="col-form-label col-sm-0">No. Chasis:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_chasis" name="txt_chasis" value="{{ auto.chasis }}"class="form-control" placeholder="Parcela">
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_placa" class="col-form-label col-sm-0">No. Placa:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_placa" name="txt_placa" value="{{ auto.placa }}" class="form-control" placeholder="Placa">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_pasajeros" class="col-form-label col-sm-0">No. Pasajeros:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="number" class="form-control" id="txt_pasajeros" name="txt_pasajeros" value="{{ auto.pasajeros }}" class="form-control" placeholder="Pasajeros">
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_clasificacion" class="col-form-label col-sm-0">Clasificacion:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_clasificacion" name="txt_clasificacion" value="{{ auto.clasificacion }}" class="form-control" placeholder="Clasificacion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div align="right" class="col-md-1">
                                <button type="submit" class="btn btn-success btn-block text-white" data-toggle="tooltip" data-placement="top" title="Guardar">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                             </div>
                            <div  align="right" class="col-md-1">
                                <a href="/garantia" class ="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Cerrar">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="/static/assets/js/visualize_divs_value.js"></script>
    <script src="/static/assets/js/datepicker.js"></script>
    <script src="/static/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

{% endblock javascripts %}