{% extends 'paginas/base.html' %}

{% block title %} Prestamo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
        <link href="/static/assets/fontawesome/css/all.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <div class="header pb-4" style="background-color: #009ACD">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-3">
            <div class="col-lg-6 col-7">
              <h4 class="h2 text-white d-inline-block mb-0">Edición de Préstamo</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 ">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">ID Préstamo</h5>
                        <h1 class="card-title text-uppercase text-muted mb-0">{{ prestamo.id_prestamo }}</h1>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-gray-dark text-white rounded-circle shadow">
                        <i class="ni  ni-badge"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <!-- Body -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
            <div class="card">
                <div class="card-body" div.row="" style="background-color: #e9ecef">
                    <h3>Informacion Personal</h3>
                    <form action="/prestamo/edicion/{{ prestamo.id_prestamo }}" method="POST"> {% csrf_token %}
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_cedula" class="col-form-label col-sm-0">Cédula:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_cedula" disabled="disabled" name="txt_cedula" value="{{ solicitud.cedula.cedula }}"  class="form-control" placeholder="Cédula" >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_nombres" class="col-form-label col-sm-0">Nombre/s:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_nombre/s" disabled="disabled" name="txt_nombre/s" value="{{ solicitud.cedula.nombres }}"  class="form-control" placeholder="Nombre/s" >
                            </div>
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_apellidos" class="col-form-label col-sm-0">Apellido/s:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_apellido/s" disabled="disabled"  name="txt_apellido/s" value="{{ solicitud.cedula.apellidos}}" class="form-control" placeholder="Apellido/s" >
                            </div>
                        </div>

                       <div class="form-row">
                             <div class="col-ms-auto col-md-2">
                                 <label for="txt_direccion" class="col-form-label col-sm-0">Dirección:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-10">
                                    <input type="text" class="form-control" id="txt_direccion"  disabled="disabled" name="txt_direccion" value="{{ solicitud.cedula.direccion }}" class="form-control" placeholder="Dirección" >
                            </div>
                       </div>

                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txtcelular" class="col-form-label col-sm-0">Celular:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_celular" disabled="disabled" name="txt_celular" value="{{ solicitud.cedula.celular }}" class="form-control" placeholder="Celular" >
                            </div>
                            <div class="col-ms-auto col-md-2">
                                <label for="txtTelefono" class="col-form-label col-sm-0">Teléfono:</label>
                            </div>

                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_telefono" disabled="disabled" name="txt_telefono" value="{{ solicitud.cedula.telefono }}" class="form-control" placeholder="Teléfono" >
                            </div>

                        </div>
                        <!-- Divider -->
                        <hr class="my-3">
                        <h3>Informacion de Préstamo</h3>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_nombres" class="col-form-label col-sm-0">Monto:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input step="any" type="number" class="form-control" id="txt_monto" name="txt_monto" value="{{ prestamo.monto }}"  class="form-control" placeholder="Monto" >
                            </div>
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_apellidos" class="col-form-label col-sm-0">Tasa:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input step="any" type="number" class="form-control" id="txt_tasa"  name="txt_tasa" value="{{ prestamo.tasa }}" class="form-control" placeholder="Tasa" >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_cuota" class="col-form-label col-sm-0">No. Cuota:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="number" class="form-control" id="txt_cuota" name="txt_cuota" value="{{ prestamo.cuota }}"  class="form-control" placeholder="No. Cuota" >
                            </div>
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_apellidos" class="col-form-label col-sm-0">Clasificación:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_tipo"  name="txt_clasificacion" value="{{ prestamo.clasificacion }}" disabled="disabled" class="form-control" placeholder="Clasificación" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_valor_cuota" class="col-form-label col-sm-0">Valor Cuota</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input readonly="readonly" step="any" type="number" class="form-control" id="txt_valor_cuota" name="txt_valor_cuota" value="{{ prestamo.valor_cuota }}"  class="form-control" placeholder="0" required>
                            </div>
                            <div class="col-ms-auto col-md-2">
                                <label for="typeSaldo" class="col-form-label col-sm-0">Tipo de Saldo:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                   <select id="typeSaldo" class="form-control" tabindex="50" name="typeSaldo">
                                       <option value="Libre">A Interes</option>
                                       <option value="Absoluto">Absoluto</option>
                                       <option value="Insoluto">Insoluto</option>
                                   </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_nombres" class="col-form-label col-sm-0">% de Mora:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_%_de_ora" name="txt_%_de_mora" value="{{ prestamo.porciento_mora }}"  class="form-control" placeholder="% de Mora" >
                            </div>
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_apellidos" class="col-form-label col-sm-0">Días de Gracia:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_dias_de-gracia"  name="txt_dias_de_gracia" value="{{ prestamo.dias_gracia }}" class="form-control" placeholder="Días de Gracia" >
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_nombres" class="col-form-label col-sm-0">Fecha Inicio:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <div class="input-group date" id="fecha_inicio">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                        <input class="form-control" id="datepicker-monthi" name="datepicker-month_inicio" placeholder="Selecciona Fecha" onkeydown="addMonths(event)" type="text" value="{{ prestamo.fecha_expedicion }}">
                                    </div>
                            </div>
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_apellidos" class="col-form-label col-sm-0">Fecha Fin:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <div class="input-group date" id="fecha_fin">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="dateInput" name="fecha_fin" value="{{ prestamo.fecha_expiracion }}" >
                                    </div>
                            </div>
                        </div>
                        <div id="Garantia" style="display: none">
                            <!-- Divider -->
                        <hr class="my-3">
                        <h3>Informacion de Garantía</h3>
                        <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_valor_tasacion" class="col-form-label col-sm-0" >Valor Tasado:</label>
                                </div>
                                <div class="col-ms-auto col-md-4">
                                  <div class="form-group">
                                    <input step="any" type="number" class="form-control" id="txt_valor_tasacion" value="{{ garantia.id_garantia.valor_tasacion }}" name="txt_valor_tasacion"  class="form-control"  >
                                  </div>
                                </div>
                                 <div class="col-ms-auto col-md-2">
                                    <label for="roleSel" class="col-form-label col-sm-0" >Tipo:</label>
                                </div>
                                <div class="col-ms-auto col-md-2">
                                       <select id="roleSel" class="form-control" tabindex="50" name="roleSel">
                                           <option value="Vehiculo">Vehiculo</option>
                                           <option value="Garante">Garante</option>
                                           <option value="Inmobiliario">Inmobiliario</option>
                                       </select>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_nombre" class="col-form-label col-sm-0">Nombre Propetario:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_nombre" name="txt_nombre"   value="{{ garantia.id_garantia.nombre_propetario }}" class="form-control" placeholder="Nombres" >
                                </div>

                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_nombre" class="col-form-label col-sm-0">Fecha Expedicion:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <div class="input-group date" id="fecha_expedicion">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                            </div>
                                            <input class="form-control" id="datepicker-month" name="datepicker-month" value="{{ garantia.id_garantia.fecha_expedicion }}" placeholder="Selecciona Fecha" type="text" value="">
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div id="Inmobiliario" class="hidden"  style="display: none">
                            <hr class="my-3">
                            <h3>Inmobiliario</h3>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_direccion_garantia" class="col-form-label col-sm-0">Direccion:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-10">
                                        <input type="text" class="form-control" id="txt_direccion_garantia" name="txt_direccion_garantia" value="{{ Inmobi.direccion }}" class="form-control" placeholder="Direccion">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_metraje" class="col-form-label col-sm-0">Metraje:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="number" class="form-control" id="txt_metraje" name="txt_metraje" value="{{ Inmobi.metraje }}" class="form-control" placeholder="Metraje">
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_certificado" class="col-form-label col-sm-0">Certificado del Titulo:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_certificado" name="txt_certificado" value="{{ Inmobi.certificado_titulo }}"class="form-control" placeholder="Certificado">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_parcela" class="col-form-label col-sm-0">Numero de Parcela:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_parcela" name="txt_parcela" value="{{ Inmobi.numero_parcela }}" class="form-control" placeholder="Parcela">
                                </div>
                            </div>
                        </div>
                        <div id="Vehiculo" class="hidden" style="display: none">
                            <hr class="my-3">
                            <h3>Vehiculo</h3>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_fabricante" class="col-form-label col-sm-0">Fabricante:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_fabricante" name="txt_fabricante" value="{{ auto.fabricante }}"  class="form-control" placeholder="Modelo">
                                </div>
                                 <div class="col-ms-auto col-md-2">
                                    <label for="txt_modelo" class="col-form-label col-sm-0">Modelo:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_modelo" name="txt_modelo" value="{{ auto.modelo }}" class="form-control" placeholder="Modelo">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_anio" class="col-form-label col-sm-0">Año:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="number" class="form-control" id="txt_anio" name="txt_anio" value="{{ auto.anio }}" class="form-control" placeholder="Año">
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_color" class="col-form-label col-sm-0">Color:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_color" name="txt_color" value="{{ auto.color }}" class="form-control" placeholder="Color">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_chasis" class="col-form-label col-sm-0">No. Chasis:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_chasis" name="txt_chasis" value="{{ auto.chasis }}"class="form-control" placeholder="Parcela">
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_placa" class="col-form-label col-sm-0">No. Placa:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_placa" name="txt_placa" value="{{ auto.placa }}" class="form-control" placeholder="Placa">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_pasajeros" class="col-form-label col-sm-0">No. Pasajeros:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="number" class="form-control" id="txt_pasajeros" name="txt_pasajeros" value="{{ auto.pasajeros }}" class="form-control" placeholder="Pasajeros">
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_clasificacion" class="col-form-label col-sm-0">Clasificacion:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_clasificacion" name="txt_clasificacion" value="{{ auto.clasificacion }}" class="form-control" placeholder="Clasificacion">
                                </div>
                            </div>
                        </div>
                        <div id="Garante" class="hidden" style="display: none">
                            <hr class="my-3">
                            <h3>Garante</h3>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_cedula" class="col-form-label col-sm-0">Cedula:</label>
                                </div>

                                <div class="col-ms-auto col-md-3">
                                  <div class="form-group">
                                    <input type="number" class="form-control" id="txt_cedula" name="txt_cedula"  value="{{ garante.id_persona.cedula }}" placeholder="Cedula" >
                                  </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_nombres" class="col-form-label col-sm-0">Nombres:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_nombres" name="txt_nombres"  value="{{ garante.id_persona.nombres }}" class="form-control" placeholder="Nombres" >
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_apellidos" class="col-form-label col-sm-0">Apellidos:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_apellidos"  name="txt_apellidos" value="{{ garante.id_persona.apellidos }}"  class="form-control" placeholder="Apellidos" >
                                </div>
                            </div>

                           <div class="form-row">
                                 <div class="col-ms-auto col-md-2">
                                     <label for="txt_direccion" class="col-form-label col-sm-0">Direccion:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-10">
                                        <input type="text" class="form-control" id="txt_direccion"  name="txt_direccion" value="{{ garante.id_persona.direccion }}" class="form-control" placeholder="Direccion" >
                                </div>
                           </div>

                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txtcelular" class="col-form-label col-sm-0">Celular:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_celular" name="txt_celular" value="{{ garante.id_persona.celular }}" class="form-control" placeholder="Celular" >
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txtTelefono" class="col-form-label col-sm-0">Telefono:</label>
                                </div>

                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_telefono" name="txt_telefono" value="{{ garante.id_persona.telefono }}" class="form-control" placeholder="Telefono" >
                                </div>
                            </div>
                            <h3>Informacion Laboral</h3>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_nombre" class="col-form-label col-sm-0">Nombres:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_trabj_nombre" name="txt_trabj_nombre"  value="{{ trabajo.nombre }}" class="form-control" placeholder="Nombres" >
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_direccion" class="col-form-label col-sm-0">Direccion:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-9">
                                        <input type="text" class="form-control" id="txt_trabj_direccion" name="txt_trabj_direccion" value="{{ trabajo.direccion }}" placeholder="Direccion" >
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txtTelefono" class="col-form-label col-sm-0">Telefono:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="tel" class="form-control" id="txt_trabj_telefono" name="txt_trabj_telefono" value="{{ trabajo.telefono }}"  class="form-control" placeholder="Telefono" >
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_trabj_sueldo" class="col-form-label col-sm-0">Ganancias:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input step="any" type="number" class="form-control" id="txt_trabj_sueldo" name="txt_trabj_sueldo" value="{{ trabajo.sueldo }}" placeholder="Ganancias" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div align="right" class="col-md-1">
                                <button type="submit" class="btn btn-success btn-block text-white" data-toggle="tooltip" data-placement="top" title="Guardar" value="Submit">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                             </div>
                            <div  align="right" class="col-md-1">
                                <a href="/prestamo" class ="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Cerrar">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="/static/assets/js/modal.js"></script>
    <script src="/static/assets/js/date.js"></script>
    <script src="/static/assets/js/visualize_divs_value.js"></script>
    <script src="/static/assets/js/formula.js"></script>
    <script src="/static/assets/js/datepicker.js"></script>
    <script src="/static/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        var valorSelect = "{{ prestamo.tipo_saldo }}";
        document.getElementById("typeSaldo").value = valorSelect;
    </script>
{% endblock javascripts %}