{% extends 'paginas/base.html' %}

{% block title %} Prestamo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
        <link href="/static/assets/fontawesome/css/all.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header pb-6" style="background-color: #009ACD">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-3">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Lista de Préstamos</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6" style="background-color: #ced4da" div.row=" ">
        <div class="form-row align-items-center py-7">
            <div class="col-md-10">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                  </div>
                  <input id="searchTerm" name="searchTerm" class="form-control" placeholder="Search" type="text" onkeyup="doSearch()">
                </div>
              </div>
            </div>
        </div>

        <div class="form-row align-items-center mt--7">
          <div class="col-lg-10">
              <div class="table-responsive">
              <!-- Projects table -->
                  <table class="table align-items-center table-dark" id="datos" name="datos" >
                    <thead class="thead-dark" width="500">
                        <tr>
                            <th scope="col">Id Prestamo</th>
                            <th scope="col">Id Solicitud</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Tasa</th>
                            <th scope="col">Cuota</th>
                            <th scope="col">Clasificación</th>
                            <th scope="col">% de Mora</th>
                            <th scope="col">Días de Gracia</th>
                            <th scope="col">Fecha de Inicio</th>
                            <th scope="col">Fecha de Expiración</th>
                            <th colspan="">Opciones</th>
                            <th> <a href="solicitud/prestamo/{{ 0 }}" class ="btn btn-success text-white" data-toggle="tooltip" data-placement="left" title="Añadir">
                                 <i class="fa-solid fa-folder-plus"></i>
                            </a> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in prestamos %}
                            <tr>
                                <td>{{ p.id_prestamo }}</td>
                                <td>{{ p.id_solicitud }}</td>
                                <td>{{ p.monto }}</td>
                                <td>{{ p.tasa }}</td>
                                <td>{{ p.cuota }}</td>
                                <td>{{ p.clasificación }}</td>
                                <td>{{ p.mora }}</td>
                                <td>{{ p.gracia }}</td>
                                <td>{{ p.inicio }}</td>
                                <td>{{ p.fin }}</td>
                                <td><a href="/prestamo/editar/{{ p.id_prestamo }}" class ="btn btn-info" data-toggle="tooltip" data-placement="top" title="Editar">
                                    <i class="fa-solid fa-file-pen"></i></a>
                                </td>
                                <td><a href="/prestamo/anular/{{ p.id_prestamo }}" class ="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Anular">
                                    <i class="fa-solid fa-xmark"></i></a></td>
                                </a></td>
                                </tr>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
    {% include "includes/footer-fullscreen.html" %}
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="/static/assets/js/modal.js"></script>
{% endblock javascripts %}
