{% extends 'paginas/base.html' %}

{% block title %} Prestamo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header pb-6" style="background-color: #009ACD">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-3">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Lista de Solicitudes</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6" style="background-color: #ced4da" div.row=" ">
        <div class="form-row align-items-center py-7">
            <div class="col-md-10">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                  </div>
                  <input id="SearchTerm" class="form-control" placeholder="Search" type="text" onkeyup="doSearch()">
                </div>
              </div>
            </div>
        </div>

        <div class="form-row align-items-center mt--7">
          <div class="col-lg-10">
              <div class="table-responsive">
              <!-- Projects table -->
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Id solicitud</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Tasa</th>
                            <th scope="col"> Cuota</th>
                            <th colspan="">Opciones</th>
                            <th> <a href="solicitud/registrar" class ="btn btn-success text-white">Agregar</a> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in solicitudes %}
                            <tr>
                                <td>{{ s.id_solicitud }}</td>
                                <td>{{ s.estado }}</td>
                                <td>{{ s.monto }}</td>
                                <td>{{ s.tasa }}</td>
                                <td>{{ s.cuota }}</td>
                                <td><a href="/solicitud/editar/{{ s.id_solicitud }}" class ="btn btn-info">Editar</a></td>
                                <td><a href="/solicitud/anular/{{ s.id_solicitud }}" class ="btn btn-danger">Anular</a></td>
                                </tr>
                        {% endfor %}
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
    {% include "includes/footer-fullscreen.html" %}
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}
