{% extends 'paginas/base.html' %}

{% block title %} Prestamo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link href="/static/assets/fontawesome/css/all.css" rel="stylesheet">

{% endblock stylesheets %}


{% block content %}

    <!-- Header -->
    <div class="header pb-6" style="background-color: #009ACD">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-3">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Lista de Notas</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6" style="background-color: #ced4da" div.row=" ">
        <div class="form-row align-items-center py-7">
            <div class="col-md-10">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                  </div>
                  <input id="searchTerm" name="searchTerm" class="form-control" placeholder="Search" type="text" onkeyup="doSearch()">
                </div>
              </div>
            </div>
        </div>

        <div class="form-row align-items-center mt--7">
          <div class="col-lg-10">
              <div class="table-responsive">
              <!-- Projects table -->
                  <table class="table align-items-center table-dark" id="datos" name="datos" >
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id Nota</th>
                            <th scope="col">Id Prestamo</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Monto Total</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Estado</th>
                            <th> <a href="notas/registrar/{{ 0 }}" class ="btn btn-success text-white" data-toggle="tooltip" data-placement="left" title="Añadir">
                                 <i class="fa-solid fa-folder-plus"></i> </a> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.id_nota }}</td>
                                <td>{{ item.id_prestamo.id_prestamo }}</td>
                                <td>{{ item.tipo }}</td>
                                <td>{{ item.monto_total }}</td>
                                <td>{{ item.fecha}}</td>
                                <td>{{ item.estado}}</td>
                                <td><a href="/notas/postear/{{ item.id_nota }}" class ="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Postear">
                                    <i class="fa-solid fa-file-circle-question"></i>
                                    </a>
                                <a href="/notas/anular/{{ item.id_nota }}" class ="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Anular">
                                    <i class="fa-solid fa-xmark"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
              <nav aria-label="Paginacion" style="display: grid; place-content: center">
                        <ul class="pagination">
                            {% if items.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page=1">
                                      <i class="fa-solid fa-backward-fast"></i>
                                    <span class="sr-only">First</span>
                                  </a>
                                </li>
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">
                                      <i class="fa-solid fa-backward"></i>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                </li>
                            {% endif %}

                            <li class="page-item"><a class="page-link" href="#">{{ items.number }} </a></li>

                            {% if items.has_next %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Next">
                                      <i class="fa-solid fa-forward"></i>
                                      <span class="sr-only">Next</span>
                                  </a>
                                </li>
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ items.paginator.num_pages }}">
                                      <i class="fa-solid fa-forward-fast"></i>
                                    <span class="sr-only">Last</span>
                                  </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
              </div>
          </div>
      </div>
    {% include "includes/footer-fullscreen.html" %}
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="/static/assets/js/modal.js"></script>
{% endblock javascripts %}
