{% extends 'paginas/base.html' %}

{% block title %} Prestamo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link href="/static/assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container--default .select2-selection--single {
             width: 100%;
             height: 75%;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <div class="header pb-4" style="background-color: #009ACD">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-3">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Registro de Garantia</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 ">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">ID Garantia</h5>
                        <h1 class="card-title text-uppercase text-muted mb-0">{{ garantia }}</h1>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-gray-dark text-white rounded-circle shadow">
                        <i class="ni  ni-badge"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <!-- Body -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
            <div class="card">
                <div class="card-body" div.row="" style="background-color: #e9ecef">
                    <h3>Informacion Base</h3>
                    <form action="/garantia/registro/{{ salida }}" method="POST"> {% csrf_token %}
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_valor_tasacion" class="col-form-label col-sm-0" >Valor Tasado:</label>
                            </div>
                            <div class="col-ms-auto col-md-4">
                              <div class="form-group">
                                <input type="number" class="form-control" id="txt_valor_tasacion" name="txt_valor_tasacion"  class="form-control"  required>
                              </div>
                            </div>
                            <div class="col-ms-auto col-md-2">
                                <label for="roleSel" class="col-form-label col-sm-0" >Tipo de Garantia:</label>
                            </div>
                             <div class="col-ms-auto col-md-2">
                                   <select id="roleSel" class="form-control" tabindex="50" name="roleSel">
                                          <option value="Inmobiliario">Inmobiliario</option>
                                          <option value="Vehiculo">Vehiculo</option>
                                   </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_nombre" class="col-form-label col-sm-0">Nombre Propetario:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_nombre" name="txt_nombre"   class="form-control" placeholder="Nombres" required>
                            </div>

                            <div class="col-ms-auto col-md-2">
                                <label for="txt_nombre" class="col-form-label col-sm-0">Fecha Expedicion:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <div class="input-group date" id="fecha_expedicion">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                        <input class="form-control" id="datepicker-month" name="datepicker-month" placeholder="Selecciona Fecha" type="text" value="">
                                    </div>
                            </div>
                        </div>
                        <div id="Inmobiliario" class="hidden" >
                            <hr class="my-3">
                            <h3>Inmobiliario</h3>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_direccion" class="col-form-label col-sm-0">Direccion:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-10">
                                        <input type="text" class="form-control" id="txt_direccion" name="txt_direccion"  class="form-control" placeholder="Direccion">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_metraje" class="col-form-label col-sm-0">Metraje:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="number" class="form-control" id="txt_metraje" name="txt_metraje" class="form-control" placeholder="Metraje">
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_certificado" class="col-form-label col-sm-0">Certificado del Titulo:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_certificado" name="txt_certificado" class="form-control" placeholder="Certificado">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_parcela" class="col-form-label col-sm-0">Numero de Parcela:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_parcela" name="txt_parcela" class="form-control" placeholder="Parcela">
                                </div>
                            </div>
                        </div>
                        <div id="Vehiculo" class="hidden" style="display: none">
                            <hr class="my-3">
                            <h3>Vehiculo</h3>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_fabricante" class="col-form-label col-sm-0">Fabricante:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                     <select id="fabrSel"  class=" form-control" name="fabrSel"   style="width: 100%">
                                          {% for m in marcas %}
                                            <option value="{{ m.nombre_marca }}">{{ m.nombre_marca }}</option>
                                         {% endfor%}
                                     </select>
                                </div>
                                 <div class="col-ms-auto col-md-2">
                                    <label for="txt_modelo" class="col-form-label col-sm-0">Modelo:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                     <select id="modSel"  class=" form-control" name="modSel"   style="width: 100%">
                                         {% for mod in modelos %}
                                            <option value="{{ mod.nombre_marca }}">{{ mod.nombre_modelo }}</option>
                                         {% endfor%}
                                     </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_anio" class="col-form-label col-sm-0">Año:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="number" class="form-control" id="txt_anio" name="txt_anio" class="form-control" placeholder="Año">
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_color" class="col-form-label col-sm-0">Color:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_color" name="txt_color" class="form-control" placeholder="Color">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_chasis" class="col-form-label col-sm-0">No. Chasis:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_chasis" name="txt_chasis" class="form-control" placeholder="Parcela">
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_placa" class="col-form-label col-sm-0">No. Placa:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_placa" name="txt_placa" class="form-control" placeholder="Placa">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_pasajeros" class="col-form-label col-sm-0">No. Pasajeros:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="number" class="form-control" id="txt_pasajeros" name="txt_pasajeros" class="form-control" placeholder="Pasajeros">
                                </div>
                                <div class="col-ms-auto col-md-2">
                                    <label for="txt_clasificacion" class="col-form-label col-sm-0">Clasificacion:</label>
                                </div>
                                <div class="form-group col-ms-auto col-md-4">
                                        <input type="text" class="form-control" id="txt_clasificacion" name="txt_clasificacion" class="form-control" placeholder="Clasificacion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div align="right" class="col-md-1">
                                <button type="submit" class="btn btn-success btn-block text-white" data-toggle="tooltip" data-placement="top" title="Guardar">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                             </div>
                            <div  align="right" class="col-md-1">
                                <a href="/garantia" class ="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Cerrar">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="/static/assets/js/modal.js"></script>
    <script src="/static/assets/js/visualize_divs.js"></script>
    <script src="/static/assets/js/datepicker.js"></script>
    <script src="/static/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/static/assets/js/dropdown_select.js"></script>
{% endblock javascripts %}