{% extends 'paginas/base.html' %}

{% block title %} Prestamo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
        <link href="/static/assets/fontawesome/css/all.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <div class="header pb-4" style="background-color: #009ACD">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-3">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Registro de Solicitud</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 ">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">ID Solicitud</h5>
                        <h1 class="card-title text-uppercase text-muted mb-0">{{ solicitudes }}</h1>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-gray-dark text-white rounded-circle shadow">
                        <i class="ni  ni-badge"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <!-- Body -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
            <div class="card">
                <div class="card-body" div.row="" style="background-color: #e9ecef">
                    <h3>Informacion Personal</h3>
                    <form action="/solicitud/registro/{{ opcion }}/{{ solicitudes }}" method="POST"> {% csrf_token %}
                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txt_cedula" class="col-form-label col-sm-0">Cedula:</label>
                            </div>

                            <div class="col-ms-auto col-md-3">
                              <div class="form-group">
                                <input type="number" class="form-control" id="txt_cedula" name="txt_cedula" value="{{ persona_seleccion.cedula }}" class="form-control" placeholder="Cedula" required>
                              </div>
                            </div>
                            <!-- Button trigger modal -->
                            <div class="form-group col-ms-auto col-md-3">
                               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_busqueda" data-toggle="tooltip" data-placement="right" title="Buscar">
                                   <i class="fa-solid fa-magnifying-glass"></i>
                               </button>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="modal_busqueda" name="modal_busqueda" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Busqueda de Clientes</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body" div.row="">
                                      <div class="row">
                                        <div class="col-md-10">
                                          <div class="form-group">
                                            <div class="input-group mb-4">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                                              </div>
                                              <input id="searchTerm" name="searchTerm" class="form-control" placeholder="Search" type="text" onkeyup="doSearch()">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                          <div class="table-responsive" >
                                          <!-- Projects table -->
                                              <table class="table align-items-center table-flush" id="datos" name="datos" >
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Cedula</th>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">Apellido</th>
                                                        <th colspan="">Opcion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for p in personas %}
                                                        <tr>
                                                            <td>{{ p.cedula }}</td>
                                                            <td>{{ p.nombres }}</td>
                                                            <td>{{ p.apellidos }}</td>
                                                            <td><a href="/solicitud/registrar/{{p.cedula}}" class ="btn btn-info">Seleccionar</a></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txt_nombres" class="col-form-label col-sm-0">Nombres:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_nombres" name="txt_nombres" value="{{ persona_seleccion.nombres }}"  class="form-control" placeholder="Nombres" required>
                            </div>
                            <div class="col-ms-auto col-md-1">
                                <label for="txt_apellidos" class="col-form-label col-sm-0">Apellidos:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_apellidos"  name="txt_apellidos" value="{{ persona_seleccion.apellidos }}" class="form-control" placeholder="Apellidos" required>
                            </div>
                        </div>

                       <div class="form-row">
                             <div class="col-ms-auto col-md-1">
                                 <label for="txt_direccion" class="col-form-label col-sm-0">Direccion:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-9">
                                    <input type="text" class="form-control" id="txt_direccion"  name="txt_direccion" value="{{ persona_seleccion.direccion }}"class="form-control" placeholder="Direccion" required>
                            </div>
                       </div>

                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txtcelular" class="col-form-label col-sm-0">Celular:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_celular" name="txt_celular" value="{{ persona_seleccion.celular }}"class="form-control" placeholder="Celular" required>
                            </div>
                            <div class="col-ms-auto col-md-1">
                                <label for="txtTelefono" class="col-form-label col-sm-0">Telefono:</label>
                            </div>

                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_telefono" name="txt_telefono" value="{{ persona_seleccion.telefono }}" class="form-control" placeholder="Telefono" required>
                            </div>
                        </div>
                        <!-- Divider -->
                        <hr class="my-3">
                        <h3>Informacion Laboral</h3>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txt_nombre" class="col-form-label col-sm-0">Nombres:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_trabj_nombre" name="txt_trabj_nombre" value="{{ trabajo.nombre }}" class="form-control" placeholder="Nombres" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txt_direccion" class="col-form-label col-sm-0">Direccion:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-9">
                                    <input type="text" class="form-control" id="txt_trabj_direccion" name="txt_trabj_direccion" value="{{ trabajo.direccion }}" class="form-control" placeholder="Direccion" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txtTelefono" class="col-form-label col-sm-0">Telefono:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="tel" class="form-control" id="txt_trabj_telefono" name="txt_trabj_telefono" value="{{ trabajo.telefono }}" class="form-control" placeholder="Telefono" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txt_trabj_sueldo" class="col-form-label col-sm-0">Ganancias:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input step="any" type="number" class="form-control" id="txt_trabj_sueldo" name="txt_trabj_sueldo" value="{{ trabajo.sueldo }}" class="form-control" placeholder="Ganancias" required>
                            </div>
                        </div>
                        <!-- Divider -->
                        <hr class="my-3">
                        <div class="form-row">
                            <div class="col-ms-3 col-md-2">
                                <label for="txt_monto" class="col-form-label ">Monto Solicitado:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-3">
                                    <input step="any" type="number"  class="form-control" id="txt_monto" name="txt_monto"  class="form-control" placeholder="Monto" required>
                            </div>
                        </div>
                        <div class="row">
                            <div align="right" class="col-md-1">
                                <button type="submit" class="btn btn-success btn-block text-white" data-toggle="tooltip" data-placement="top" title="Guardar">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                             </div>
                            <div  align="right" class="col-md-1">
                                <a href="/solicitud" class ="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Cerrar">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
   <script src="/static/assets/js/modal.js"></script>
{% endblock javascripts %}