{% extends 'paginas/base.html' %}

{% block title %} Prestamo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-3">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Registro de Solicitudes</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Body -->
    <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-body">
                <form action="/registroSolicitud/" method="POST">{% csrf_token %}
                <div class="form-group">
                    <input type="text" id="txtId_Solicitud" name="txtId_Solicitud" class="form-control" placeholder="Id solicitud" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtEstado" name="txtEstado" class="form-control" placeholder="Estado" maxlength= 40 required>
                </div>
                <div class="form-group">
                    <input type="text" id="numMonto" name="numMonto" class="form-control" placeholder="Monto" required>
                </div>
                <div class="form-group">
                    <input type="text" id="numTasa" name="numTasa" class="form-control" placeholder="Tasa" required>
                </div>
                <div class="form-group">
                    <input type="text" id="numCuota" name="numCuota" class="form-control" placeholder="Cuota" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white">Registrar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}