{% extends 'paginas/base.html' %}

{% block title %} Prestamo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-3">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Registro de Solicitudes</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Body -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
            <div class="card">
                <div class="card-body" div.row="">
                    <h3>Informacion Personal</h3>
                    <form action="/persona/registro/" method="POST">{% csrf_token %}
                        <div class="form-row">
                            <label for="txt_cedula" class="col-form-label col-sm-0">Cedula:</label>
                            <div class="form-group col-ms-auto col-md-3">
                                   <input type="text" class="form-control" id="txt_cedula" value= "{{persona.cedula}}" class="form-control" placeholder="Cedula" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="txt_nombres" class="col-form-label col-sm-0">Nombres:</label>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_nombres" value= "{{persona.nombres}}" class="form-control" placeholder="Nombres" required>
                            </div>
                            <label for="txt_apellidos" class="col-form-label col-sm-0">Apellidos:</label>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_apellidos" value= "{{persona.apellidos}}" class="form-control" placeholder="Apellidos" required>
                            </div>
                        </div>

                       <div class="form-row">
                           <label for="txt_direccion" class="col-form-label col-sm-0">Direccion:</label>
                            <div class="form-group col-ms-auto col-md-9">
                                    <input type="text" class="form-control" id="txt_direccion" value= "{{persona.direccion}}" class="form-control" placeholder="Direccion" required>
                            </div>
                       </div>

                        <div class="form-row">
                            <label for="txtcelular" class="col-form-label col-sm-0">Celular:</label>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_celular" value= "{{persona.celular}}" class="form-control" placeholder="Celular" required>
                            </div>

                            <label for="txtTelefono" class="col-form-label col-sm-0">Telefono:</label>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txtTelefono" value= "{{persona.telefono}}" class="form-control" placeholder="Telefono" required>
                            </div>
                        </div>
                    </form>
                    <!-- Divider -->
                    <hr class="my-3">
                    <h3>Informacion del Trabajo</h3>
                    <form action="/persona/registro/" method="POST">{% csrf_token %}
                        <div class="form-row">
                            <label for="txt_nombre" class="col-form-label col-sm-0">Nombres:</label>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_nombre" value= "{{informacion_trabajo.nombre}}" class="form-control" placeholder="Nombres" required>
                            </div>
                        </div>
                       <div class="form-row">
                           <label for="txt_direccion" class="col-form-label col-sm-0">Direccion:</label>
                            <div class="form-group col-ms-auto col-md-9">
                                    <input type="text" class="form-control" id="txt_direccion" value= "{{informacion_trabajo.direccion}}" class="form-control" placeholder="Direccion" required>
                            </div>
                       </div>

                        <div class="form-row">
                            <label for="txtTelefono" class="col-form-label col-sm-0">Telefono:</label>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="tel" class="form-control" id="txtTelefono" value= "{{informacion_trabajo.telefono}}" class="form-control" placeholder="Telefono" required>
                            </div>
                        </div>
                    </form>
                    <!-- Divider -->
                    <hr class="my-3">
                    <form action="/persona/registro/" method="POST">{% csrf_token %}
                        <div class="form-row">
                            <label for="txt_nombre" class="col-form-label col-sm-0">Monto Solicitado:</label>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="number" class="form-control" id="txt_nombre" value= "{{solicitud.monto}}" class="form-control" placeholder="Monto" required>
                            </div>
                        </div>
                    </form>
                    <div align="right">
                        <a href="solicitud/registrar" class ="btn btn-success">Agregar</a>
                    </div>

                 </div>
            </div>
        </div>
    </div>
{% endblock content %}