{% extends 'paginas/base.html' %}

{% block title %} Prestamo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <link href="/static/assets/fontawesome/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container--default .select2-selection--single {
             width: 100%;
             height: 75%;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <div class="header pb-4" style="background-color: #009ACD">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-3">
            <div class="col-lg-6 col-7">
              <h4 class="h2 text-white d-inline-block mb-0">Registro de Cobro</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 ">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">ID Cobro</h5>
                        <h1 class="card-title text-uppercase text-muted mb-0">{{ num_cobro }}</h1>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-gray-dark text-white rounded-circle shadow">
                        <i class="ni  ni-badge"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <!-- Body -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
            <div class="card">
                <div class="card-body" div.row="" style="background-color: #e9ecef">
                    <form action="/cobros/registro/{{ num_cobro }}" method="POST"> {% csrf_token %}
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_id_prestamo" class="col-form-label col-sm-0">Id Préstamo:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-3">
                                    <input type="text" class="form-control" id="txt_prestamos"  name="txt_prestamos" value="{{ prestamo.id_prestamo }}"   placeholder="Id Préstamo" >
                            </div>
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_cedula" class="col-form-label col-sm-0">Cliente:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-3">
                                    <input type="text" class="form-control" id="txt_id_prestamo" disabled="disabled" name="txt_id_prestamo" value="{{ prestamo.id_solicitud.cedula.nombres }} {{ prestamo.id_solicitud.cedula.apellidos }}"   placeholder="Id Préstamo" >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_nombres" class="col-form-label col-sm-0">Fecha:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-3">
                                    <input type="text" class="form-control datepicker" id="txt_fecha"  name="txt_fecha" value="{{ fecha }}"   placeholder="Fecha" >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_apellidos" class="col-form-label col-sm-0">Monto Total:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-3">
                                    <input type="text" class="form-control" id="txt_monto_total" name="txt_monto_total" value="{{ total }}" placeholder="Monto Total" >
                            </div>
                        </div>
                       <div class="form-row">
                           <div class="col-ms-auto col-md-2">
                                <label for="txt_celular" class="col-form-label col-sm-0">Monto Capital:</label>
                           </div>
                           <div class="form-group col-ms-auto col-md-3">
                               <input type="text" class="form-control" id="txt_monto_capital"  name="txt_monto_capital" value="{{ capital  }}"  placeholder="Monto Capital" >
                           </div>

                       </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                 <label for="txt_monto_interes" class="col-form-label col-sm-0">Monto Interés:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-3">
                                    <input type="text" class="form-control" id="txt_monto_interes" value="{{ interes  }}" name="txt_monto_interes"  placeholder="Monto Interés" >
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_mora" class="col-form-label col-sm-0">Monto Mora:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-3">
                                    <input type="text" class="form-control" id="txt_mora" name="txt_mora" value="{{ mora }}" placeholder="Monto Total" >
                            </div>
                             <div class="col-ms-auto col-md-2">
                                <label for="txt_apellidos" class="col-form-label col-sm-0">Total Pagado:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-3">
                                    <input readonly="readonly" type="text" class="form-control" id="txt_total_pagado" name="txt_monto_total"  placeholder="Total Pagado" >
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-ms-auto col-md-2">
                                <label for="txt_concepto" class="col-form-label col-sm-0">Concepto:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-8">
                                    <input type="text" class="form-control" id="txt_concepto"  name="txt_concepto" value=""  placeholder="Concepto" required >
                            </div>

                        </div>

                        <div class="row">
                            <table class="table align-items-center table-dark " id="datos" name="datos" >
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Numero</th>
                                        <th scope="col">Cuota</th>
                                        <th scope="col">Capital</th>
                                        <th scope="col">Interes</th>
                                        <th scope="col">Balance Esperado </th>
                                        <th scope="col">Fecha de Pago</th>
                                        <th scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in tabla %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ t.cuota}}</td>
                                            <td>{{ t.pago_capital}}</td>
                                            <td>{{ t.pago_interes }}</td>
                                            <td>{{ t.balance_total_esperado }}</td>
                                            <td>{{ t.fecha }}</td>
                                            <td>>{{ t.estado }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                        </div>
                        <div class="row">
                            <div align="right" class="col-md-1">
                                <button type="submit" class="btn btn-success btn-block text-white" data-toggle="tooltip" data-placement="top" title="Guardar" value="Submit">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                             </div>
                            <div  align="right" class="col-md-1">
                                <a href="/cobros" class ="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Cerrar">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="/static/assets/js/date.js"></script>
    <script src="/static/assets/js/suma.js"></script>
    <script src="/static/assets/js/datepicker.js"></script>
    <script src="/static/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
{% endblock javascripts %}