{% extends 'paginas/base.html' %}

{% block title %} Prestamo {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
        <link href="/static/assets/fontawesome/css/all.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <div class="header pb-4" style="background-color: #009ACD">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-3">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Registro de Cliente</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 ">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">ID Cliente</h5>
                        <h1 class="card-title text-uppercase text-muted mb-0">{{ cliente }}</h1>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-gray-dark text-white rounded-circle shadow">
                        <i class="ni  ni-badge"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <!-- Body -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-12">
            <div class="card">
                <div class="card-body" div.row="" style="background-color: #e9ecef">
                    <h3>Informacion Personal</h3>
                    <form action="/cliente/registro/{{ opcion }}" method="POST"> {% csrf_token %}
                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txt_cedula" class="col-form-label col-sm-0">Cedula:</label>
                            </div>

                            <div class="col-ms-auto col-md-4">
                              <div class="form-group">
                                <input type="number" class="form-control" id="txt_cedula" name="txt_cedula"  class="form-control" placeholder="Cedula" required>
                              </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txt_nombres" class="col-form-label col-sm-0">Nombres:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_nombres" name="txt_nombres"   class="form-control" placeholder="Nombres" required>
                            </div>
                            <div class="col-ms-auto col-md-1">
                                <label for="txt_apellidos" class="col-form-label col-sm-0">Apellidos:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_apellidos"  name="txt_apellidos"  class="form-control" placeholder="Apellidos" required>
                            </div>
                        </div>

                       <div class="form-row">
                             <div class="col-ms-auto col-md-1">
                                 <label for="txt_direccion" class="col-form-label col-sm-0">Direccion:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-9">
                                    <input type="text" class="form-control" id="txt_direccion"  name="txt_direccion" class="form-control" placeholder="Direccion" required>
                            </div>
                       </div>

                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txtcelular" class="col-form-label col-sm-0">Celular:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_celular" name="txt_celular" class="form-control" placeholder="Celular" required>
                            </div>
                            <div class="col-ms-auto col-md-1">
                                <label for="txtTelefono" class="col-form-label col-sm-0">Telefono:</label>
                            </div>

                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_telefono" name="txt_telefono" class="form-control" placeholder="Telefono" required>
                            </div>
                        </div>
                        <!-- Divider -->
                        <hr class="my-3">
                        <h3>Informacion Laboral</h3>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txt_nombre" class="col-form-label col-sm-0">Nombres:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="text" class="form-control" id="txt_trabj_nombre" name="txt_trabj_nombre"  class="form-control" placeholder="Nombres" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txt_direccion" class="col-form-label col-sm-0">Direccion:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-9">
                                    <input type="text" class="form-control" id="txt_trabj_direccion" name="txt_trabj_direccion" class="form-control" placeholder="Direccion" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txtTelefono" class="col-form-label col-sm-0">Telefono:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input type="tel" class="form-control" id="txt_trabj_telefono" name="txt_trabj_telefono"  class="form-control" placeholder="Telefono" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-ms-auto col-md-1">
                                <label for="txt_trabj_sueldo" class="col-form-label col-sm-0">Ganancias:</label>
                            </div>
                            <div class="form-group col-ms-auto col-md-4">
                                    <input step="any" type="number" class="form-control" id="txt_trabj_sueldo" name="txt_trabj_sueldo" class="form-control" placeholder="Ganancias" required>
                            </div>
                        </div>
                        <div class="row">
                            <div align="right" class="col-md-1">
                                <button type="submit" class="btn btn-success btn-block text-white" data-toggle="tooltip" data-placement="top" title="Guardar">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                             </div>
                            <div  align="right" class="col-md-1">
                                <a href="/cliente" class ="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Cerrar">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
   <script src="/static/assets/js/modal.js"></script>
{% endblock javascripts %}